/* style.css */

@font-face {
    font-family: 'Opium';
    src: url('OPIUM.TTF') format('truetype');
}

/* Styl dla całej strony */
body {
    background-color: black;
    color: white;
    font-family: 'Opium', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}

.container {
    max-width: 100%;
    padding: 20px;
}

/* Styl przycisku */
.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50px;
    font-family: 'Opium', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
    width: 300px;
    text-align: center;
}

/* Styl dla całej strony z większą interlinią */
body {
    line-height: 1.5;
}

/* Styl dla przycisku z obrazem */
.image-button {
    display: inline-block;
    background-image: url('bluzka-opium.png');
    background-size: contain;
    width: 200px;
    height: 50px;
    text-indent: -9999px;
}

/* Dodatkowy styl dla kontenera przycisku */
.product-button {
    text-align: center;
    padding: 20px;
}

/* Styl dla przycisku z ramką */
.product-button .btn {
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 30px;
}

/* Dodatkowy styl dla obrazu w przycisku */
.product-button img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* Styl przycisku "btn-wide" */
.btn-wide {
    width: 200px;
}

/* Styl kontenera dla tekstu w przycisku */
.btn-text {
    display: inline;
    margin-right: 10px;
}

/* Styl przycisków mediów społecznościowych */
.social-button {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 250px;
    height: 50px;
    padding: 20px;
    text-decoration: none;
    color: white;
}

/* Styl dla loga w przycisku */
.social-button img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

/* Styl dla napisu w przycisku */
.social-button span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styl dla obrazu */
img {
    max-width: 100px;
    height: auto;
}

/* Styl dla kontenera wyśrodkowanego w pionie */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styl dla przycisku "Wroc" */
.back-button {
    font-size: 24px;
    padding: 15px 30px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}
